# Dependencies
node_modules/
package-lock.json

# Uploads
server/uploads/*.pdf

# Build output
client/dist/

# Environment
.env
.env.local
.env.production
.env.development

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*


##
Document Management Repository (DMR).pdf
SWE__Sprint_0.pdf
tagging_test/
.venv
.gitignore

##
implementation_plan.md
implementation_plan_front.md
implementation_plan_2.md
cache_test_plan.md

## 
test_regex.js
test_api.js
test_filter.js
test_query.js
test_api.js

