# Dependencies
node_modules/
package-lock.json

# Uploads
server/uploads/*.pdf

# Build output
client/dist/

# Environment
.env
.env.local
.env.production
.env.development

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*


##
Document Management Repository (DMR).pdf
SWE__Sprint_0.pdf
tagging_test/
.venv